[project]
name = "arithm"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[build-system]
requires = ["uv_build>=0.8.4,<0.9.0"]
build-backend = "uv_build"

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"
pythonpath = ["src"]
testpaths = ["tests"]
asyncio_mode = "strict"
log_cli = true
log_cli_level = "INFO"

[dependency-groups]
dev = [
  "pytest",
  "pytest-asyncio"
]
